body {
    background: #121212;
    color: #eee;
    font-family: "Segoe UI", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    
}

.icon-home {
    width: 40px;           /* tamanho da imagem */
    height: 40px;
    cursor: pointer;       /* indica que é clicável */
    vertical-align: middle; /* alinha verticalmente com o título */
    margin-right: 10px;    /* espaço entre a casinha e o título */
    transition: transform 0.2s;
}

.icon-home:hover {
    transform: scale(1.1); /* leve efeito de hover */
}

h1 {
    color: #7b6df6;
   
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #1e1e1e;
    box-shadow: 0 0 10px #000;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #333;
}

th {
    background: #272727;
    color: #7b6df6;
}

.btn-add{
    background: #7b6df6;
    margin: 10px 35%;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button {
      width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #7b6df6;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #5d4ce0;
}

.delete {
    color: #ff6b6b;
}

.form-box {
    background: #1d1d1d;
    width: 400px;
    padding: 20px 50px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px 0px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    background: #2a2a2a;
    color: #fff;
}

.disponiveis {
    font-size: 1.2em;      /* aumenta o tamanho */
    color: #5d4ce0;        /* verde */
    font-weight: bold;      /* deixa o texto em negrito */
    margin-bottom: 20px;
}
