body {
    background: #101010;
    color: #eee;
    font-family: "Segoe UI", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    
}

.icon-home {
    width: 40px;           /* tamanho da imagem */
    height: 40px;
    cursor: pointer;       /* indica que é clicável */
    vertical-align: middle; /* alinha verticalmente com o título */
    margin-right: 10px;    /* espaço entre a casinha e o título */
    transition: transform 0.2s;
}

.icon-home:hover {
    transform: scale(1.1); /* leve efeito de hover */
}

h1 {
    color: #7b6df6;
}

table {
    width: 95%;
    margin: 20px auto;
    background: #1a1a1a;
    border-collapse: collapse;
}

th, td {
    padding: 14px;
    border-bottom: 1px solid #333;
}

th {
    background: #222;
    color: #7b6df6;
}

.btn-add{
    background: #7b6df6;
    margin: 10px 35%;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


button {
    padding: 7px 12px;
    border-radius: 6px;
    background: #7b6df6;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #5d4ce0;
}

.delete {
    color: #ff6b6b;
}

.form-box {
    background: #1d1d1d;
    width: 400px;
    padding: 20px 50px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px 0px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    background: #2a2a2a;
    color: #fff;
}

.evento-cadastrado {
    padding-left: 20px; /* empurra o conteúdo para a direita */
    text-align: center;    /* ou center, se quiser centralizar horizontalmente */
    vertical-align: middle; /* centraliza verticalmente */
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.85);
}

.modal-content {
    background: #1c1c1c;
    width: 420px;
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
}

