body {
    background: #101010;
    color: #eee;
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn-login {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 40px;
    height: 40px;
}

.btn-login img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-login img:hover {
    transform: scale(1.1);
}

.form-box {
    background: #1d1d1d;
    width: 400px;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
    text-align: center;
}

.form-box h1 {
    color: #7b6df6;
    margin-bottom: 20px;
}

.form-box p {
    margin-bottom: 15px;
}

.btn-add {
    display: inline-block;
    background: #7b6df6;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-add:hover {
    background: #5d4ce0;
}
