body {
    background: radial-gradient(circle, #1a1a1a, #0e0e0e);
    font-family: "Segoe UI", sans-serif;
    color: white;
}

.login-box {
    width: 350px;
    background: #1d1d1d;
    padding: 30px;
    margin: 120px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
}

input {
    width: 90%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 6px;
    border: none;
    background: #2a2a2a;
    color: #eee;
}

button {
    margin-top: 20px;
    width: 95%;
    padding: 12px;
    background: #7b6df6;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #5d4ce0;
}

.erro {
    color: #ff6b6b;
    margin-top: 10px;
}
